.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
    align-items: center;
}
#line {
	background: black;
	width: 200px;
	height: 2px;
	animation: rotateLine 1s infinite ease-in-out forwards;
}

@keyframes rotateLine {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
